In [9]:
import requests
import json
import pandas as pd

# Get the latest feed
response = requests.get('https://api.nasa.gov/insight_weather/?api_key=DEMO_KEY&feedtype=json')

# Get the Status code from the API call
print("Response Status:")
print(response.status_code)

# Convert the response to parsible text
mars_response = response.text

#Convert to JSON objects
json_object = json.loads(mars_response)

#Format to make it pretty
json_formatted_str = json.dumps(json_object, indent=2)

#Print the pretty JSON response
print("Response Content:")
print(json_formatted_str)

def create_sol_tables(response_json):
    # [Paste the entire function from the previous message]

# Assuming your API response is stored in the 'response' variable
    create_sol_tables(mars_response.json())

Response Status:
200
Response Content:
{
  "675": {
    "AT": {
      "av": -62.314,
      "ct": 177556,
      "mn": -96.872,
      "mx": -15.908
    },
    "First_UTC": "2020-10-19T18:32:20Z",
    "HWS": {
      "av": 7.233,
      "ct": 88628,
      "mn": 1.051,
      "mx": 22.455
    },
    "Last_UTC": "2020-10-20T19:11:55Z",
    "Month_ordinal": 10,
    "Northern_season": "early winter",
    "PRE": {
      "av": 750.563,
      "ct": 887776,
      "mn": 722.0901,
      "mx": 768.791
    },
    "Season": "fall",
    "Southern_season": "early summer",
    "WD": {
      "0": {
        "compass_degrees": 0.0,
        "compass_point": "N",
        "compass_right": 0.0,
        "compass_up": 1.0,
        "ct": 254
      },
      "1": {
        "compass_degrees": 22.5,
        "compass_point": "NNE",
        "compass_right": 0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 1
      },
      "10": {
        "compass_degrees": 225.0,
        "compass_point": "SW",
        "compass_right": -0.707106781187,
        "compass_up": -0.707106781187,
        "ct": 8618
      },
      "11": {
        "compass_degrees": 247.5,
        "compass_point": "WSW",
        "compass_right": -0.923879532511,
        "compass_up": -0.382683432365,
        "ct": 1912
      },
      "12": {
        "compass_degrees": 270.0,
        "compass_point": "W",
        "compass_right": -1.0,
        "compass_up": -0.0,
        "ct": 19517
      },
      "13": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 30283
      },
      "14": {
        "compass_degrees": 315.0,
        "compass_point": "NW",
        "compass_right": -0.707106781187,
        "compass_up": 0.707106781187,
        "ct": 25962
      },
      "15": {
        "compass_degrees": 337.5,
        "compass_point": "NNW",
        "compass_right": -0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 2014
      },
      "9": {
        "compass_degrees": 202.5,
        "compass_point": "SSW",
        "compass_right": -0.382683432365,
        "compass_up": -0.923879532511,
        "ct": 67
      },
      "most_common": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 30283
      }
    }
  },
  "676": {
    "AT": {
      "av": -62.812,
      "ct": 177554,
      "mn": -96.912,
      "mx": -16.499
    },
    "First_UTC": "2020-10-20T19:11:55Z",
    "HWS": {
      "av": 8.526,
      "ct": 88250,
      "mn": 1.11,
      "mx": 26.905
    },
    "Last_UTC": "2020-10-21T19:51:31Z",
    "Month_ordinal": 10,
    "Northern_season": "early winter",
    "PRE": {
      "av": 749.09,
      "ct": 887777,
      "mn": 722.473,
      "mx": 767.1426
    },
    "Season": "fall",
    "Southern_season": "early summer",
    "WD": {
      "0": {
        "compass_degrees": 0.0,
        "compass_point": "N",
        "compass_right": 0.0,
        "compass_up": 1.0,
        "ct": 463
      },
      "1": {
        "compass_degrees": 22.5,
        "compass_point": "NNE",
        "compass_right": 0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 45
      },
      "10": {
        "compass_degrees": 225.0,
        "compass_point": "SW",
        "compass_right": -0.707106781187,
        "compass_up": -0.707106781187,
        "ct": 2749
      },
      "11": {
        "compass_degrees": 247.5,
        "compass_point": "WSW",
        "compass_right": -0.923879532511,
        "compass_up": -0.382683432365,
        "ct": 4862
      },
      "12": {
        "compass_degrees": 270.0,
        "compass_point": "W",
        "compass_right": -1.0,
        "compass_up": -0.0,
        "ct": 20685
      },
      "13": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 31167
      },
      "14": {
        "compass_degrees": 315.0,
        "compass_point": "NW",
        "compass_right": -0.707106781187,
        "compass_up": 0.707106781187,
        "ct": 25783
      },
      "15": {
        "compass_degrees": 337.5,
        "compass_point": "NNW",
        "compass_right": -0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 2490
      },
      "2": {
        "compass_degrees": 45.0,
        "compass_point": "NE",
        "compass_right": 0.707106781187,
        "compass_up": 0.707106781187,
        "ct": 4
      },
      "5": {
        "compass_degrees": 112.5,
        "compass_point": "ESE",
        "compass_right": 0.923879532511,
        "compass_up": -0.382683432365,
        "ct": 2
      },
      "most_common": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 31167
      }
    }
  },
  "677": {
    "AT": {
      "av": -63.056,
      "ct": 177556,
      "mn": -97.249,
      "mx": -16.853
    },
    "First_UTC": "2020-10-21T19:51:31Z",
    "HWS": {
      "av": 7.887,
      "ct": 88610,
      "mn": 0.511,
      "mx": 23.197
    },
    "Last_UTC": "2020-10-22T20:31:06Z",
    "Month_ordinal": 11,
    "Northern_season": "mid winter",
    "PRE": {
      "av": 748.698,
      "ct": 887776,
      "mn": 720.5873,
      "mx": 767.4249
    },
    "Season": "fall",
    "Southern_season": "mid summer",
    "WD": {
      "0": {
        "compass_degrees": 0.0,
        "compass_point": "N",
        "compass_right": 0.0,
        "compass_up": 1.0,
        "ct": 511
      },
      "1": {
        "compass_degrees": 22.5,
        "compass_point": "NNE",
        "compass_right": 0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 12
      },
      "10": {
        "compass_degrees": 225.0,
        "compass_point": "SW",
        "compass_right": -0.707106781187,
        "compass_up": -0.707106781187,
        "ct": 3083
      },
      "11": {
        "compass_degrees": 247.5,
        "compass_point": "WSW",
        "compass_right": -0.923879532511,
        "compass_up": -0.382683432365,
        "ct": 3370
      },
      "12": {
        "compass_degrees": 270.0,
        "compass_point": "W",
        "compass_right": -1.0,
        "compass_up": -0.0,
        "ct": 19454
      },
      "13": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 34749
      },
      "14": {
        "compass_degrees": 315.0,
        "compass_point": "NW",
        "compass_right": -0.707106781187,
        "compass_up": 0.707106781187,
        "ct": 24014
      },
      "15": {
        "compass_degrees": 337.5,
        "compass_point": "NNW",
        "compass_right": -0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 3413
      },
      "2": {
        "compass_degrees": 45.0,
        "compass_point": "NE",
        "compass_right": 0.707106781187,
        "compass_up": 0.707106781187,
        "ct": 1
      },
      "5": {
        "compass_degrees": 112.5,
        "compass_point": "ESE",
        "compass_right": 0.923879532511,
        "compass_up": -0.382683432365,
        "ct": 3
      },
      "most_common": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 34749
      }
    }
  },
  "678": {
    "AT": {
      "av": -62.562,
      "ct": 177556,
      "mn": -97.728,
      "mx": -9.055
    },
    "First_UTC": "2020-10-22T20:31:06Z",
    "HWS": {
      "av": 5.246,
      "ct": 86963,
      "mn": 0.244,
      "mx": 18.399
    },
    "Last_UTC": "2020-10-23T21:10:41Z",
    "Month_ordinal": 11,
    "Northern_season": "mid winter",
    "PRE": {
      "av": 743.741,
      "ct": 887777,
      "mn": 717.7254,
      "mx": 760.2834
    },
    "Season": "fall",
    "Southern_season": "mid summer",
    "WD": {
      "0": {
        "compass_degrees": 0.0,
        "compass_point": "N",
        "compass_right": 0.0,
        "compass_up": 1.0,
        "ct": 2680
      },
      "1": {
        "compass_degrees": 22.5,
        "compass_point": "NNE",
        "compass_right": 0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 1025
      },
      "10": {
        "compass_degrees": 225.0,
        "compass_point": "SW",
        "compass_right": -0.707106781187,
        "compass_up": -0.707106781187,
        "ct": 10492
      },
      "11": {
        "compass_degrees": 247.5,
        "compass_point": "WSW",
        "compass_right": -0.923879532511,
        "compass_up": -0.382683432365,
        "ct": 3499
      },
      "12": {
        "compass_degrees": 270.0,
        "compass_point": "W",
        "compass_right": -1.0,
        "compass_up": -0.0,
        "ct": 22094
      },
      "13": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 26617
      },
      "14": {
        "compass_degrees": 315.0,
        "compass_point": "NW",
        "compass_right": -0.707106781187,
        "compass_up": 0.707106781187,
        "ct": 14104
      },
      "15": {
        "compass_degrees": 337.5,
        "compass_point": "NNW",
        "compass_right": -0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 4388
      },
      "2": {
        "compass_degrees": 45.0,
        "compass_point": "NE",
        "compass_right": 0.707106781187,
        "compass_up": 0.707106781187,
        "ct": 305
      },
      "3": {
        "compass_degrees": 67.5,
        "compass_point": "ENE",
        "compass_right": 0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 31
      },
      "5": {
        "compass_degrees": 112.5,
        "compass_point": "ESE",
        "compass_right": 0.923879532511,
        "compass_up": -0.382683432365,
        "ct": 211
      },
      "6": {
        "compass_degrees": 135.0,
        "compass_point": "SE",
        "compass_right": 0.707106781187,
        "compass_up": -0.707106781187,
        "ct": 45
      },
      "7": {
        "compass_degrees": 157.5,
        "compass_point": "SSE",
        "compass_right": 0.382683432365,
        "compass_up": -0.923879532511,
        "ct": 174
      },
      "8": {
        "compass_degrees": 180.0,
        "compass_point": "S",
        "compass_right": 0.0,
        "compass_up": -1.0,
        "ct": 437
      },
      "9": {
        "compass_degrees": 202.5,
        "compass_point": "SSW",
        "compass_right": -0.382683432365,
        "compass_up": -0.923879532511,
        "ct": 861
      },
      "most_common": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 26617
      }
    }
  },
  "679": {
    "AT": {
      "av": -62.551,
      "ct": 177554,
      "mn": -96.644,
      "mx": -11.561
    },
    "First_UTC": "2020-10-23T21:10:41Z",
    "HWS": {
      "av": 5.565,
      "ct": 87171,
      "mn": 0.231,
      "mx": 19.409000000000002
    },
    "Last_UTC": "2020-10-24T21:50:16Z",
    "Month_ordinal": 11,
    "Northern_season": "mid winter",
    "PRE": {
      "av": 744.529,
      "ct": 887776,
      "mn": 719.4178,
      "mx": 763.2724
    },
    "Season": "fall",
    "Southern_season": "mid summer",
    "WD": {
      "0": {
        "compass_degrees": 0.0,
        "compass_point": "N",
        "compass_right": 0.0,
        "compass_up": 1.0,
        "ct": 2049
      },
      "1": {
        "compass_degrees": 22.5,
        "compass_point": "NNE",
        "compass_right": 0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 657
      },
      "10": {
        "compass_degrees": 225.0,
        "compass_point": "SW",
        "compass_right": -0.707106781187,
        "compass_up": -0.707106781187,
        "ct": 11924
      },
      "11": {
        "compass_degrees": 247.5,
        "compass_point": "WSW",
        "compass_right": -0.923879532511,
        "compass_up": -0.382683432365,
        "ct": 1379
      },
      "12": {
        "compass_degrees": 270.0,
        "compass_point": "W",
        "compass_right": -1.0,
        "compass_up": -0.0,
        "ct": 21329
      },
      "13": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 28774
      },
      "14": {
        "compass_degrees": 315.0,
        "compass_point": "NW",
        "compass_right": -0.707106781187,
        "compass_up": 0.707106781187,
        "ct": 15570
      },
      "15": {
        "compass_degrees": 337.5,
        "compass_point": "NNW",
        "compass_right": -0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 3784
      },
      "2": {
        "compass_degrees": 45.0,
        "compass_point": "NE",
        "compass_right": 0.707106781187,
        "compass_up": 0.707106781187,
        "ct": 83
      },
      "3": {
        "compass_degrees": 67.5,
        "compass_point": "ENE",
        "compass_right": 0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 17
      },
      "5": {
        "compass_degrees": 112.5,
        "compass_point": "ESE",
        "compass_right": 0.923879532511,
        "compass_up": -0.382683432365,
        "ct": 138
      },
      "6": {
        "compass_degrees": 135.0,
        "compass_point": "SE",
        "compass_right": 0.707106781187,
        "compass_up": -0.707106781187,
        "ct": 11
      },
      "7": {
        "compass_degrees": 157.5,
        "compass_point": "SSE",
        "compass_right": 0.382683432365,
        "compass_up": -0.923879532511,
        "ct": 137
      },
      "8": {
        "compass_degrees": 180.0,
        "compass_point": "S",
        "compass_right": 0.0,
        "compass_up": -1.0,
        "ct": 410
      },
      "9": {
        "compass_degrees": 202.5,
        "compass_point": "SSW",
        "compass_right": -0.382683432365,
        "compass_up": -0.923879532511,
        "ct": 909
      },
      "most_common": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 28774
      }
    }
  },
  "680": {
    "AT": {
      "av": -61.789,
      "ct": 168902,
      "mn": -96.811,
      "mx": -15.298
    },
    "First_UTC": "2020-10-24T21:50:16Z",
    "HWS": {
      "av": 6.517,
      "ct": 88478,
      "mn": 0.275,
      "mx": 24.235
    },
    "Last_UTC": "2020-10-25T22:29:51Z",
    "Month_ordinal": 11,
    "Northern_season": "mid winter",
    "PRE": {
      "av": 743.99,
      "ct": 887767,
      "mn": 717.1398,
      "mx": 764.0093
    },
    "Season": "fall",
    "Southern_season": "mid summer",
    "WD": {
      "0": {
        "compass_degrees": 0.0,
        "compass_point": "N",
        "compass_right": 0.0,
        "compass_up": 1.0,
        "ct": 1033
      },
      "1": {
        "compass_degrees": 22.5,
        "compass_point": "NNE",
        "compass_right": 0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 133
      },
      "10": {
        "compass_degrees": 225.0,
        "compass_point": "SW",
        "compass_right": -0.707106781187,
        "compass_up": -0.707106781187,
        "ct": 6463
      },
      "11": {
        "compass_degrees": 247.5,
        "compass_point": "WSW",
        "compass_right": -0.923879532511,
        "compass_up": -0.382683432365,
        "ct": 2556
      },
      "12": {
        "compass_degrees": 270.0,
        "compass_point": "W",
        "compass_right": -1.0,
        "compass_up": -0.0,
        "ct": 21280
      },
      "13": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 34787
      },
      "14": {
        "compass_degrees": 315.0,
        "compass_point": "NW",
        "compass_right": -0.707106781187,
        "compass_up": 0.707106781187,
        "ct": 18673
      },
      "15": {
        "compass_degrees": 337.5,
        "compass_point": "NNW",
        "compass_right": -0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 3262
      },
      "5": {
        "compass_degrees": 112.5,
        "compass_point": "ESE",
        "compass_right": 0.923879532511,
        "compass_up": -0.382683432365,
        "ct": 10
      },
      "6": {
        "compass_degrees": 135.0,
        "compass_point": "SE",
        "compass_right": 0.707106781187,
        "compass_up": -0.707106781187,
        "ct": 6
      },
      "7": {
        "compass_degrees": 157.5,
        "compass_point": "SSE",
        "compass_right": 0.382683432365,
        "compass_up": -0.923879532511,
        "ct": 23
      },
      "8": {
        "compass_degrees": 180.0,
        "compass_point": "S",
        "compass_right": 0.0,
        "compass_up": -1.0,
        "ct": 76
      },
      "9": {
        "compass_degrees": 202.5,
        "compass_point": "SSW",
        "compass_right": -0.382683432365,
        "compass_up": -0.923879532511,
        "ct": 176
      },
      "most_common": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 34787
      }
    }
  },
  "681": {
    "AT": {
      "av": -62.434,
      "ct": 88778,
      "mn": -95.447,
      "mx": -4.444
    },
    "First_UTC": "2020-10-25T22:29:51Z",
    "HWS": {
      "av": 5.632,
      "ct": 87184,
      "mn": 0.228,
      "mx": 18.577
    },
    "Last_UTC": "2020-10-26T23:09:26Z",
    "Month_ordinal": 11,
    "Northern_season": "mid winter",
    "PRE": {
      "av": 743.55,
      "ct": 887777,
      "mn": 718.463,
      "mx": 760.2244
    },
    "Season": "fall",
    "Southern_season": "mid summer",
    "WD": {
      "0": {
        "compass_degrees": 0.0,
        "compass_point": "N",
        "compass_right": 0.0,
        "compass_up": 1.0,
        "ct": 1872
      },
      "1": {
        "compass_degrees": 22.5,
        "compass_point": "NNE",
        "compass_right": 0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 881
      },
      "10": {
        "compass_degrees": 225.0,
        "compass_point": "SW",
        "compass_right": -0.707106781187,
        "compass_up": -0.707106781187,
        "ct": 12182
      },
      "11": {
        "compass_degrees": 247.5,
        "compass_point": "WSW",
        "compass_right": -0.923879532511,
        "compass_up": -0.382683432365,
        "ct": 1249
      },
      "12": {
        "compass_degrees": 270.0,
        "compass_point": "W",
        "compass_right": -1.0,
        "compass_up": -0.0,
        "ct": 22409
      },
      "13": {
        "compass_degrees": 292.5,
        "compass_point": "WNW",
        "compass_right": -0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 27816
      },
      "14": {
        "compass_degrees": 315.0,
        "compass_point": "NW",
        "compass_right": -0.707106781187,
        "compass_up": 0.707106781187,
        "ct": 15971
      },
      "15": {
        "compass_degrees": 337.5,
        "compass_point": "NNW",
        "compass_right": -0.382683432365,
        "compass_up": 0.923879532511,
        "ct": 3412
      },
      "2": {
        "compass_degrees": 45.0,
        "compass_point": "NE",
        "compass_right": 0.707106781187,
        "compass_up": 0.707106781187,
        "ct": 201
      },
      "3": {
        "compass_degrees": 67.5,
        "compass_point": "ENE",
        "compass_right": 0.923879532511,
        "compass_up": 0.382683432365,
        "ct": 57
      },
      "5": {
        "compass_degrees": 112.5,
        "compass_point": "ESE",
        "compass_right": 0.923879532511,

In [10]:
def create_sol_tables(response_json):
    # Create tables for each sol
    for sol_key, sol_data in response_json.items():
        print(f"\n--- Sol {sol_key} Summary ---")
        
        # Basic Sol Information Table
        basic_info = {
            'First UTC': sol_data['First_UTC'],
            'Last UTC': sol_data['Last_UTC'],
            'Season': sol_data['Season'],
            'Northern Season': sol_data['Northern_season'],
            'Southern Season': sol_data['Southern_season']
        }
        basic_df = pd.DataFrame.from_dict(basic_info, orient='index', columns=['Value'])
        display(basic_df)
        
        # Temperature (AT) Table
        at_data = sol_data['AT']
        at_df = pd.DataFrame.from_dict(at_data, orient='index', columns=['Value'])
        at_df.index.name = 'Temperature Statistic'
        print("\nAir Temperature (AT) Statistics:")
        display(at_df)
        
        # Horizontal Wind Speed (HWS) Table
        hws_data = sol_data['HWS']
        hws_df = pd.DataFrame.from_dict(hws_data, orient='index', columns=['Value'])
        hws_df.index.name = 'Wind Speed Statistic'
        print("\nHorizontal Wind Speed (HWS) Statistics:")
        display(hws_df)
        
        # Pressure (PRE) Table
        pre_data = sol_data['PRE']
        pre_df = pd.DataFrame.from_dict(pre_data, orient='index', columns=['Value'])
        pre_df.index.name = 'Pressure Statistic'
        print("\nPressure (PRE) Statistics:")
        display(pre_df)
        
        # Wind Direction (WD) Most Common Table
        wd_most_common = sol_data['WD']['most_common']
        wd_df = pd.DataFrame.from_dict(wd_most_common, orient='index', columns=['Value'])
        wd_df.index.name = 'Wind Direction Characteristic'
        print("\nMost Common Wind Direction:")
        display(wd_df)
        
        print("\n" + "="*50)

In [8]:
# Call the function with your response JSON
create_sol_tables(response.json())

--- Sol 675 Summary ---

                                Value
First UTC        2020-10-19T18:32:20Z
Last UTC         2020-10-20T19:11:55Z
Season                           fall
Northern Season          early winter
Southern Season          early summer

Air Temperature (AT) Statistics:

                            Value
Temperature Statistic
av                        -62.314
ct                     177556.000
mn                        -96.872
mx                        -15.908

Horizontal Wind Speed (HWS) Statistics:

                          Value
Wind Speed Statistic
av                        7.233
ct                    88628.000
mn                        1.051
mx                       22.455

Pressure (PRE) Statistics:

                          Value
Pressure Statistic
av                     750.5630
ct                  887776.0000
mn                     722.0901
mx                     768.7910

Most Common Wind Direction:

                                  Value
Wind Direction Characteristic
compass_degrees                   292.5
compass_point                       WNW
compass_right                  -0.92388
compass_up                     0.382683
ct                                30283

==================================================

--- Sol 676 Summary ---

                                Value
First UTC        2020-10-20T19:11:55Z
Last UTC         2020-10-21T19:51:31Z
Season                           fall
Northern Season          early winter
Southern Season          early summer

Air Temperature (AT) Statistics:

                            Value
Temperature Statistic
av                        -62.812
ct                     177554.000
mn                        -96.912
mx                        -16.499

Horizontal Wind Speed (HWS) Statistics:

                          Value
Wind Speed Statistic
av                        8.526
ct                    88250.000
mn                        1.110
mx                       26.905

Pressure (PRE) Statistics:

                          Value
Pressure Statistic
av                     749.0900
ct                  887777.0000
mn                     722.4730
mx                     767.1426

Most Common Wind Direction:

                                  Value
Wind Direction Characteristic
compass_degrees                   292.5
compass_point                       WNW
compass_right                  -0.92388
compass_up                     0.382683
ct                                31167

==================================================

--- Sol 677 Summary ---

                                Value
First UTC        2020-10-21T19:51:31Z
Last UTC         2020-10-22T20:31:06Z
Season                           fall
Northern Season            mid winter
Southern Season            mid summer

Air Temperature (AT) Statistics:

                            Value
Temperature Statistic
av                        -63.056
ct                     177556.000
mn                        -97.249
mx                        -16.853

Horizontal Wind Speed (HWS) Statistics:

                          Value
Wind Speed Statistic
av                        7.887
ct                    88610.000
mn                        0.511
mx                       23.197

Pressure (PRE) Statistics:

                          Value
Pressure Statistic
av                     748.6980
ct                  887776.0000
mn                     720.5873
mx                     767.4249

Most Common Wind Direction:

                                  Value
Wind Direction Characteristic
compass_degrees                   292.5
compass_point                       WNW
compass_right                  -0.92388
compass_up                     0.382683
ct                                34749

==================================================

--- Sol 678 Summary ---

                                Value
First UTC        2020-10-22T20:31:06Z
Last UTC         2020-10-23T21:10:41Z
Season                           fall
Northern Season            mid winter
Southern Season            mid summer

Air Temperature (AT) Statistics:

                            Value
Temperature Statistic
av                        -62.562
ct                     177556.000
mn                        -97.728
mx                         -9.055

Horizontal Wind Speed (HWS) Statistics:

                          Value
Wind Speed Statistic
av                        5.246
ct                    86963.000
mn                        0.244
mx                       18.399

Pressure (PRE) Statistics:

                          Value
Pressure Statistic
av                     743.7410
ct                  887777.0000
mn                     717.7254
mx                     760.2834

Most Common Wind Direction:

                                  Value
Wind Direction Characteristic
compass_degrees                   292.5
compass_point                       WNW
compass_right                  -0.92388
compass_up                     0.382683
ct                                26617

==================================================

--- Sol 679 Summary ---

                                Value
First UTC        2020-10-23T21:10:41Z
Last UTC         2020-10-24T21:50:16Z
Season                           fall
Northern Season            mid winter
Southern Season            mid summer

Air Temperature (AT) Statistics:

                            Value
Temperature Statistic
av                        -62.551
ct                     177554.000
mn                        -96.644
mx                        -11.561

Horizontal Wind Speed (HWS) Statistics:

                          Value
Wind Speed Statistic
av                        5.565
ct                    87171.000
mn                        0.231
mx                       19.409

Pressure (PRE) Statistics:

                          Value
Pressure Statistic
av                     744.5290
ct                  887776.0000
mn                     719.4178
mx                     763.2724

Most Common Wind Direction:

                                  Value
Wind Direction Characteristic
compass_degrees                   292.5
compass_point                       WNW
compass_right                  -0.92388
compass_up                     0.382683
ct                                28774

==================================================

--- Sol 680 Summary ---

                                Value
First UTC        2020-10-24T21:50:16Z
Last UTC         2020-10-25T22:29:51Z
Season                           fall
Northern Season            mid winter
Southern Season            mid summer

Air Temperature (AT) Statistics:

                            Value
Temperature Statistic
av                        -61.789
ct                     168902.000
mn                        -96.811
mx                        -15.298

Horizontal Wind Speed (HWS) Statistics:

                          Value
Wind Speed Statistic
av                        6.517
ct                    88478.000
mn                        0.275
mx                       24.235

Pressure (PRE) Statistics:

                          Value
Pressure Statistic
av                     743.9900
ct                  887767.0000
mn                     717.1398
mx                     764.0093

Most Common Wind Direction:

                                  Value
Wind Direction Characteristic
compass_degrees                   292.5
compass_point                       WNW
compass_right                  -0.92388
compass_up                     0.382683
ct                                34787

==================================================

--- Sol 681 Summary ---

                                Value
First UTC        2020-10-25T22:29:51Z
Last UTC         2020-10-26T23:09:26Z
Season                           fall
Northern Season            mid winter
Southern Season            mid summer

Air Temperature (AT) Statistics:

                           Value
Temperature Statistic
av                       -62.434
ct                     88778.000
mn                       -95.447
mx                        -4.444

Horizontal Wind Speed (HWS) Statistics:

                          Value
Wind Speed Statistic
av                        5.632
ct                    87184.000
mn                        0.228
mx                       18.577

Pressure (PRE) Statistics:

                          Value
Pressure Statistic
av                     743.5500
ct                  887777.0000
mn                     718.4630
mx                     760.2244

Most Common Wind Direction:

                                  Value
Wind Direction Characteristic
compass_degrees                   292.5
compass_point                       WNW
compass_right                  -0.92388
compass_up                     0.382683
ct                                27816

==================================================

--- Sol sol_keys Summary ---

TypeError: list indices must be integers or slices, not str

In [12]:
def export_sol_tables_to_markdown(response_json, output_file='mars_weather_data.md'):
    """
    Export Mars weather data tables to a Markdown file with error handling
    
    Args:
        response_json (dict/list): JSON response from Mars API
        output_file (str): Path to output Markdown file
    """
    # If response_json is a list, convert to dict if possible
    if isinstance(response_json, list):
        response_json = {str(i): sol for i, sol in enumerate(response_json)}
    
    with open(output_file, 'w') as md_file:
        # Write header
        md_file.write("# Mars Weather Data Analysis\n\n")
        md_file.write(f"*Generated on: {pd.Timestamp.now().strftime('%Y-%m-%d %H:%M:%S')}*\n\n")
        
        # Iterate through each sol
        for sol_key, sol_data in response_json.items():
            md_file.write(f"## Sol {sol_key} Summary\n\n")
            
            # Safely extract data with default values
            def safe_get(data, *keys, default='N/A'):
                for key in keys:
                    try:
                        data = data[key]
                    except (KeyError, TypeError):
                        return default
                return data
            
            # Basic Sol Information
            md_file.write("### Basic Information\n\n")
            md_file.write("| Attribute | Value |\n")
            md_file.write("|-----------|-------|\n")
            
            basic_info = {
                'First UTC': safe_get(sol_data, 'First_UTC'),
                'Last UTC': safe_get(sol_data, 'Last_UTC'),
                'Season': safe_get(sol_data, 'Season'),
                'Northern Season': safe_get(sol_data, 'Northern_season'),
                'Southern Season': safe_get(sol_data, 'Southern_season')
            }
            
            for key, value in basic_info.items():
                md_file.write(f"| {key} | {value} |\n")
            md_file.write("\n")
            
            # Temperature Statistics
            md_file.write("### Air Temperature (AT) Statistics\n\n")
            md_file.write("| Statistic | Value |\n")
            md_file.write("|-----------|-------|\n")
            at_data = safe_get(sol_data, 'AT', default={})
            for key, value in at_data.items():
                md_file.write(f"| {key} | {value} |\n")
            md_file.write("\n")
            
            # Wind Speed Statistics
            md_file.write("### Horizontal Wind Speed (HWS) Statistics\n\n")
            md_file.write("| Statistic | Value |\n")
            md_file.write("|-----------|-------|\n")
            hws_data = safe_get(sol_data, 'HWS', default={})
            for key, value in hws_data.items():
                md_file.write(f"| {key} | {value} |\n")
            md_file.write("\n")
            
            # Pressure Statistics
            md_file.write("### Pressure (PRE) Statistics\n\n")
            md_file.write("| Statistic | Value |\n")
            md_file.write("|-----------|-------|\n")
            pre_data = safe_get(sol_data, 'PRE', default={})
            for key, value in pre_data.items():
                md_file.write(f"| {key} | {value} |\n")
            md_file.write("\n")
            
            # Most Common Wind Direction
            md_file.write("### Most Common Wind Direction\n\n")
            md_file.write("| Characteristic | Value |\n")
            md_file.write("|---------------|-------|\n")
            wd_most_common = safe_get(sol_data, 'WD', 'most_common', default={})
            for key, value in wd_most_common.items():
                md_file.write(f"| {key} | {value} |\n")
            md_file.write("\n---\n\n")
    
    print(f"Markdown file exported to {output_file}")
    return output_file

# Call the function to export tables
export_sol_tables_to_markdown(response.json())

Markdown file exported to mars_weather_data.md

'mars_weather_data.md'